# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual Environment
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
.env

# macOS
.DS_Store

# VS Code
.vscode/

# IDE
*.swp
*.swo
